<div>
	<h2>Please Sign in:</h2>
    <form name="signinForm">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" data-ng-model="signin.email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" data-ng-model="signin.password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-success" data-ng-click="doSignin(signin)">Sign in</button>
    </form>
    <div data-ng-if="warningInfo.length>0">
        {{warningInfo}}
    </div>
</div>